.eliminar {
    display: none;
}


body {
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: linear;
    opacity: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

main {
    border-left: 14px solid rgb(255, 255, 255);
    border-right: 14px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.3);
    backdrop-filter: blur(2px);
}